/* ===== Overlay Base ===== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: block;
  opacity: 1;
  /* animation-duration: 1s;
  animation-name: slide-in; */
}

.overlay.closing {
  animation: slide-out 1s forwards; 
}

/* ===== Animations ===== */
@keyframes slide-in {
  from { transform: translateX(150vw); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(150vw); }
}

/* ===== Overlay Layout ===== */
.overlay-split {
  display: flex;
  height: 100%;
}

.overlay-left {
  background-color: var(--primary);
  color: var(--secondary);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px;
  position: relative;
}

.overlay-right {
  position: relative;
  background-color: var(--secondary);
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== Overlay Content ===== */
.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo-desktop, .logo-mobile {
  height: 5rem;
  justify-content: start;
}

.overlay-header .close {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--secondary);
  cursor: pointer;
}

.overlay-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.overlay-body h2 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.overlay-body p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.overlay-body .contact-button {
  align-self: center;
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  color: var(--primary);
  text-align: center;
  background-color: var(--secondary);
  font-family: 'Obviously semibold', sans-serif;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  display: block;
}

.overlay-body .contact-button:hover,
.overlay-body .contact-button:active {
  background-color: var(--secondary);
  color: var(--primary);
  
}

/* ===== Social Navigation ===== */
.social-nav address {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  .overlay-split {
    flex-direction: column;
  }
  
  .overlay-left {
    width: 100vw;
    height: 100%;
  }

  .overlay-right {
    display: none;    
  }
}